---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<html lang="zh-cn">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1>{frontmatter.title}</h1>
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
